:root {
    --primary-color: rgba(255, 100, 0, 1);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --coaches-title-font: 'Anton', sans-serif;
}

#coaches { 
    margin: 0;
    width: 100%;
    height: 915px;
    background: url(./images/fitness-model-women-sports-monochrome-dumbbell-1080P-wallpaper-middle-size.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.coaches-title-container{
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: black;
    background-color: lightgray;
    opacity:0.8;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 100px;
    padding-top: 130px;
}

.coach{
    width: 270px;
    height: auto;
    text-align: center;
}

.coaches-title{
    font-family: var(--coaches-title-font);
    color: var(--primary-color);
}

.profile-img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: black;
    width: 100%;
}

.description1 {
    top: -300px;
    right: -300px;
    border: 2px solid red;
    display: none;
    position: absolute;
    width : auto;
}
  
.show-description1:hover .description1 {
    position: relative;
    display: block;
    color: red;
}

.description2 {
    display: none;
}
  
.show-description2:hover .description2 {
    display: block;
    color: red;
}

.description3 {
    display: none;
}
  
.show-description3:hover .description3 {
    display: block;
    color: red;
}

.description4 {
    display: none;
}
  
.show-description4:hover .description4 {
    display: block;
    color: red;
}