
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

  html {
    height: 100%;
    overflow: hidden;
  }
  
  body { 
    background: rgb(0, 0, 0);
    margin:0;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Anton', sans-serif;
}
  h1 {
     font-size: 1.6em;
  }

  h5 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 1.5%;
  }

  section {
    width: 100%;
    height: auto;
  }

  .slide_bd {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 2%;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
  }
  
  .img_bd {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  
  img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }
  
  img:hover {
    opacity: .9;
  }
  
  .title_bd {
    width: 40% ;
    margin-right: 5%!important;
    padding: 3%;
    border-radius: 5px;
    background: rgb(255, 100, 0);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
    
  .slide_bd:nth-child(2n+1) .title_bd {
    margin-left: auto;
    margin-right: 0;
  }
  
  .header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
  }


/* FORMULAIRE DE CONTACT */
form {
    width: 100%;
}

input[type=text], input[type=email]
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	margin-right: 0px;
	margin-left: 0px;
	resize: vertical;
}

textarea {
  width: 97%;
  height:120px;
  padding: 12px;
  margin-top: 6px;
  border-radius: 4px;
}

label
{
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	font-weight:600;
}

input[type=submit]
{
	background-color: rgba(202, 10, 10, 0.699);
	color: white;
	padding: 12px 20px;
	border: none;
  border-radius: 4px;
  margin-top: 6px;
	cursor: pointer;
}

input[type=submit]:hover
{
	background-color: rgb(24, 217, 66);
}

/* MAP */
 .containIframe_bd {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    border: 2px solid rgb(255, 100, 0);
    border-radius: 4px;
    margin-bottom: 1.5%;
 }

  iframe {
    width:95%;
    height: 350px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px 5px;
    margin:3% auto;
    margin-left: 2.5%;
    box-shadow: -4px 2px 10px rgba(240,230,220, .7);
  }

  .containFooter_bd {
    width:30%;
    height: 130px;
    background: rgba(255, 255, 255, 0.993);
    box-shadow: -4px 2px 5px rgba(240,230,220, .7);
    border-radius:4px 4px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    position: absolute;
    z-index: 1;
  }

.ulContact_bd {
   position: relative;
   top: 10px;
   display: flex;
   transform: rotate(0deg) skew(0deg);
   transform-style: preserve-3d;
}

.ulContact_bd li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 0px 20px;
}

.ulContact_bd li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: rgba(0,0,0,.1);
  transform: skewX(-41deg);
}

.ulContact_bd li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: rgba(0,0,0,.1);
  transform: skewY(-49deg);
}

.ulContact_bd li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px 1px !important;
  display: flex !important;
  background: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
}

.ulContact_bd li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .0);
}

.ulContact_bd li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}

.ulContact_bd li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}

.ulContact_bd li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}

.ulContact_bd li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;

}.ulContact_bd li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}

.ulContact_bd li:nth-child(1):hover span{
  background: blue !important;
}

.ulContact_bd li:nth-child(2):hover span{
  background: rgba(0, 172, 238, 1) !important;
}

.ulContact_bd li:nth-child(3):hover span{
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,rgb(188, 24, 136) 100%); 
  }

.ulContact_bd li:nth-child(4):hover span{
  background: rgba(14, 118, 168, 1) !important;
}

.ulCity_bd {
  width: 100%;
  height: 100px;
  list-style: none;
  margin-top: 3%;
}

.ulCity_bd li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ulCity_bd a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.7em;
}

.ulCity_bd a:hover {
  color: rgb(255, 100, 0);
}

#titleLiFooter:hover {
color: rgb(255, 100,0);
}

.fa.fa {
  color: rgb(255, 100, 0);
}


/* Footer */
footer {
  width: 68%;
  height: 130px;
  margin-left: 31%;
  background: rgba(255, 100, 0, 0.993);
  box-shadow: -4px 2px 5px rgba(240,230,220, .7);
  border-radius: 4px 4px;
  z-index: 2;
}

.footerLink_bd { 
  width: 100%;
  height: 100%;
  border-radius: 4px 4px;
  list-style: none;
  border-left: 0px solid black;
  font-size: .7em;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.footerLink_bd li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

footer li a {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

footer li a:hover {
  color: rgb(255, 255, 255);
}

/* RESPONSIVE TAB */
@media screen and (max-width: 1024px) {
  .containFooter_bd {
    width: 24%;
    height: 75.36px;
    padding: 1%;
    font-size: .5em;
    background: none;
    font-size: .2em;
  }
  .ulContact_bd {
    background: none;
    top: 0;
  }
  .ulContact_bd li {
    width:15px;
    height: 15px;
  }
  .ulCity_bd{
    width: 100%;
    height: 30px !important;    
    margin:0;
    padding: 0;
  }

  footer { 
    width: 68%;
    height: auto;
    margin-left:29%;
    padding: 1%;
    font-size: .7em;
    background: rgba(255, 100, 0, 0.993);
  }

  .fa.fa {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1em;
  }
  .containIframe_bd{
    width: 90%;
    height: 220px;
    margin-bottom: 5% !important;
  }

  iframe {
    width: 90%;
    height: 190px;
    margin-left: 5%;
  }

  .slide_bd {
    width: 100%;
  }

  .img_bd {
    width:35%;
    height: auto;
    margin-top: 10%;
    margin-left: 3%;
  }

  form {
    width: auto;
    height: auto;
  }

  input[type=text], input[type=email]
  {
    width: 100%;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }

  input[type=text],input[type=email], textarea, placeholder {
    font-size: .6em;
  }
  
  label
  {
    font-size: .7em;
    font-weight:400;
  }
  
  input[type=submit]
  {
    padding: 6px 10px;
    cursor: pointer;
  }


  textarea {
    width: 82%;
    height: 25px;
  }

  .containFooter_bd {
    width: 96%;
    height: auto;
    background: white;
    margin-left: 2%;
  }
  footer { 
    display: none;
  }
}

